---
- name: Run post-provisioning tasks for Windows image
  hosts: all
  gather_facts: false
  vars:
    ansible_shell_type: powershell  # Make sure Ansible knows this is Windows

  tasks:
    - name: Make sure Ansible connectivity is working
      ansible.windows.win_shell: Write-Host "Hello World"

    - name: Zero out the hibernation file
      ansible.windows.win_command: powercfg /hibernate /size 0

    - name: Disable hibernation support
      ansible.windows.win_command: powercfg /hibernate off

    - name: Re-enable UAC in case it is still disabled because of our autounattend.xml
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\policies\system
        name: EnableLUA
        data: 1
        type: dword
        state: present
...
